table {
  border-collapse: collapse;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid lightgray;
}
th.asc:before{
  content: '▼ ';
  font-size: small;
}
th.desc:before{
  content: '▲ ';
  font-size: small;
}
th {
  cursor: pointer;
  user-select: none;
}
th.actions {
  cursor: default;
}

th, td {
  text-align: left;
  padding: 20px;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
button {
  margin-right: 5px;
  padding: 5px;
}
